@media screen and (min-width:1280px){
    .discount{
            padding: 100px;
            gap: 10px;
            display: flex;
    }
    .discount-alt{
        font-size: 76px;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: -0.015em;
    }
    .discount-alt-span{
            font-size: 76px;
            font-weight: 600;
            line-height: 80px;
            letter-spacing: -0.015em;
    }
}