@media screen and (min-width:768px) {
    .discount{
        padding: 100px 16px 100px 16px;
        gap: 10px;
        display: flex;
        background-color: rgba(251, 251, 251, 1); 
    } 
    .discount-alt{
        font-size: 64px;
        line-height: 70px;
    } 
    .discount-alt-span{
        font-size: 64px;
        line-height: 70px;
        padding-left: 13px;
        padding-top:8px;
        
    }
}