@media screen and (min-width:320px){
    .discount{
        display: flex;
        padding:80px 10px 80px 10px;
        gap: 10px;
        text-transform:uppercase;
    } 
    .discount-alt{
            font-size: 48px;
            font-weight: 600;
            line-height: 50px;
            letter-spacing: -0.015em;
    } 
    .discount-alt-span{
            background-color: rgba(87, 111, 53, 1);
            color: rgba(251, 251, 251, 1);
            border-radius: 12px;
            display: inline-block;
    }
    
}